{% extends "base.html" %}
{% block body %}

<div id="table">
<h1>Subject: {{subject_id}}</h1>

<!-- Metadata Display -->
{% set metadataDict = subject.pop("metadata", "-1") %}
{% if metadataDict != "-1" %}
<p class = "derivative">Metadata</p>
{% for session, metadata in metadataDict.items() %}
  <p class = "sub">{{session}}</p>
  <div class = "wrap">
    <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            {% for key in metadata.keys() %}
            <th>{{key}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for key, value in metadata.items() %}
                   <td class = data-title = {{key}}>{{value}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>


{% endfor %}

{% endif %}


<!-- Table starts here -->
{% for datatype, derivatives in subject.items() %}
  <h1>Datatype: {{datatype}}</h1>
  {% for derivative, values in derivatives.items() %}
    <p class = "derivative">{{derivative}}</p>
    {% if values is mapping %}
      {% for sub, link_list in values.items() %}
        <p class = "sub">{{sub}}</p>
        <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
              <tr>
                <th>Link</th>
                <th>Visualization</th>
              </tr>
            </thead>
            <tbody>
              {% for link_dict in link_list %}
                {% for link, vis_link in link_dict.items() %}
                   <tr>
                     {% set decode = "https:" + (link.replace('$$$', '.')).split(':')[-1] %}
                     {% set link_short = decode.split('/')[-1] %}
                     <td data-title = "Link"><a href = {{decode}}>{{link_short}}</a></td>
                     <td data-title = "Visualization">{{vis_link}}</td>
                   </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    {% else %}
      <div class="table-responsive-vertical shadow-z-1">
      <!-- Table starts here -->
      <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th>Link</th>
              <th>Visualization</th>
            </tr>
          </thead>
          <tbody>
            {% for link_dict in values %}
              {% for link, vis_link in link_dict.items() %}
                 <tr>
                   {% set decode = "https:" + (link.replace('$$$', '.')).split(':')[-1] %}
                   {% set link_short = decode.split('/')[-1] %}
                   <td data-title = "Link"><a href = {{decode}}>{{link_short}}</a></td>
                   <td data-title = "Visualization">{{vis_link}}</td>
                 </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}

{% endfor %}

</div>


{% endblock %}
